package views

import "github.com/AdamBeresnev/op-rating-app/internal/bracket"

templ Entry_nw(entry bracket.Entry) {
        <div class="flex flex-col bg-blue-300 rounded border-white p-2 w-32">
                <img src={ *entry.ImageLink }>
                <label class="text-black">{ entry.Name }</label>
        </div>
}
