package views

import "github.com/AdamBeresnev/op-rating-app/internal/bracket"

templ Entry_nw(entries []bracket.Entry) {
        <div class="flex flex-col bg-blue-300 rounded border-white p-2 w-32">
                <img src="https://pub-92474f7785774e91a790e086dfa6b2ef.r2.dev/anime/large-cover/PRdGioMCwXIr2ixbBXDC5yh4A70KA7vZ1JtqCJoE.jpg">
                <label class="text-black">dsaSDAS DASDAS DADASD DADDRQWEQW</label>
        </div>
}
