package views

import (
	"github.com/AdamBeresnev/op-rating-app/internal/bracket"
)

templ Index(tournaments []bracket.Tournament) {
	@layout("OP Ratingator 9000") {
		<div class="text-center py-10">
			<h2 class="text-5xl font-bold mb-4 text-indigo-400">OP RATINGATOR 9000</h2>
		</div>
		@TournamentList(tournaments)
	}
}