package views

templ AppLayout(title string) {
	@Base(title) {
		@Navbar()
		<main class="container mx-auto p-4">
			{ children... }
		</main>
	}
}

templ AuthLayout(title string) {
	@Base(title) {
		<main class="container mx-auto p-4">
			{ children... }
		</main>
	}
}
